
.background{
	width:100%;
	position:fixed;
	top:0;
	left:0;
}

.graph{
	position:absolute;
	width:80%;
	height:20em;
	left:15%;
	top:20em;

}
.a{
	background-color: white;
	width:40em;
	height:1px;
	position:absolute;
	top:25em;
	left:6em;
	z-index: 100;
}

@media screen and (max-width: 1200px){
   .background{
   	   width:auto;
   	   height: 100%;
	}
}