.background{
	width:100%;
	position:fixed;
	top:0;
	left:0;
}

.graph{
	position:absolute;
	width:80%;
	height:100%;
	left:15%;
	top:5em;

}

@media screen and (max-width: 1200px){
   .background{
   	   width:auto;
   	   height: 100%;
	}
}